
@{
    ViewBag.Title = "Pind";
}

<div class="editor border border-light rounded-3 bg-light">
    <div id="input" class="input" contenteditable="true" placeholder="要记些什么呢..." spellcheck="false"></div>
    <div class="tool">
        <img class="selectImg" src="~/Images/bxs-image.png" />
        <div style="flex:1"></div>
        @*<div style="margin-right:10px; color:gray">ctrl enter</div>*@
        <button type="button" class="btn btn-dark btnSelf" onclick="onSaveClick(this)"><img src="/Images/shandian-48.png" style="height: 25px" /></button>
    </div>
</div>

<div class="moreTool">
    @*<div style="flex:1"></div>*@
    <button class="btn btn-light btnSelf" onclick="fnonrefresh()"><img src="~/Images/refresh.png" style="height: 25px" /></button>
    <div class="d-flex justify-content-center loading" style="flex:1">
        <div class="spinner-border" role="status"></div>
    </div>
</div>

<div id="notelist">
    @*@foreach (System.Data.DataRow dr in (ViewBag.dtNotes as System.Data.DataTable).Rows)
        {*@
    <!--<div class="note border rounded-3">
        <div class="oprator">
            <div class="noteTime text-secondary">-->
    @*@DateTime.Parse(dr["iTime"].ToString()).ToString("yyyy-MM-dd HH:mm:ss")*@
    <!--</div>
    </div>
    <div class="content">-->
    @*@dr["content"].ToString()*@
    <!--</div>
    </div>-->
    @*}*@
</div>


<script>
    function fnonrefresh() {
        location.reload();
    }

    function request(url, method, data) {
        let that = this;
        return new Promise(function (resolve, reject) {
            $.ajax({
                type: method,
                url: url,
                data: data,
                success: function (res) {
                    resolve(res);
                },
                error: function (res) {
                    //console.log("error", res);
                    that.showToast(res.statusText, true);
                    reject(res)
                }
            });
        });
    }

    var winHeight = 0;
    function findDimensions() { //函数：获取尺寸
        //获取窗口高度
        if (window.innerHeight) {
            winHeight = window.innerHeight;
        }
        else if ((document.body) && (document.body.clientHeight)) {
            winHeight = document.body.clientHeight;
        }

        //通过深入Document内部对body进行检测，获取窗口大小
        if (document.documentElement && document.documentElement.clientHeight && document.documentElement.clientWidth) {
            winHeight = document.documentElement.clientHeight;
        }

        var editorH = document.getElementsByClassName("editor")[0].offsetHeight;
        var moreTollH = document.getElementsByClassName("moreTool")[0].offsetHeight;
        var h = winHeight - 15 - editorH - moreTollH - 10 - 10;
        $("#notelist").css("height", h);
    }

    setTimeout(function () {
        findDimensions();
    }, 500);

    function pasteDeal(e) {
        e.preventDefault();
        var text;
        var clp = (e.originalEvent || e).clipboardData;
        if (clp === undefined || clp === null) {
            text = window.clipboardData.getData("text") || "";
            if (text !== "") {
                if (window.getSelection) {
                    var newNode = document.createElement("span");
                    newNode.innerHTML = text;
                    window.getSelection().getRangeAt(0).insertNode(newNode);
                } else {
                    document.selection.createRange().pasteHTML(text);
                }
            }
        } else {
            text = clp.getData('text/plain') || "";
            if (text !== "") {
                document.execCommand('insertText', false, text);
            }
        }
    }

    var input = document.getElementById('input');
    //input.focus();
    function bindPaste(node) {
        $(node).on("paste", function (e) {
            pasteDeal(e)
        });
    }
    bindPaste(input);

    function onSaveClick(e) {
        let that = this;
        let fid = e.getAttribute("data-fid");

        if (fid) {
            let uTime = e.getAttribute("data-uTime");
            let nodeReEdit = e.parentNode.parentNode;
            let nodeNote = nodeReEdit.parentNode;
            let nodeContentP = nodeNote.getElementsByClassName("contentP")[0];
            let nodeOrInput = nodeContentP.getElementsByClassName("content")[0];
            let nodeReInput = nodeReEdit.getElementsByClassName("input")[0];
            //if (nodeOrInput.innerText == nodeReInput.innerText) {
            if (nodeOrInput.innerHTML == nodeReInput.innerHTML) {
                nodeReEdit.style.display = "none";
                nodeContentP.style.display = "block";
                return;
            }

            if (!nodeReInput.innerText) {
                showToast('未填写内容');
                return;
            }
            e.setAttribute("disabled", true);
            request("/note/upd", "post", {
                fid: fid,
                htmlcontent: nodeReInput.innerHTML,
                content: nodeReInput.innerText,
                uTime: uTime
            }).then(res => {
                if (res && res.code == 1) {
                    nodeReEdit.style.display = "none";
                    nodeContentP.style.display = "block";
                    nodeOrInput.innerHTML = nodeReInput.innerHTML;
                    nodeNote.setAttribute("data-originContent", nodeReInput.innerText);
                    nodeNote.setAttribute("data-originHtmlContent", nodeReInput.innerHTML);
                    nodeNote.setAttribute("data-uTime", res.data.arrNote[0].uTimeShow);
                    e.setAttribute("data-uTime", res.data.arrNote[0].uTimeShow);
                } else {
                    that.showToast((res ? res.message : "") || '操作失败');
                }
            }).catch(res => {

            }).finally(fin => {
                e.removeAttribute("disabled");
            })
        } else {
            let nodeInput = document.getElementById("input");
            let _htmlcontent = nodeInput.innerHTML;
            let _content = nodeInput.innerText;
            if (!_content) {
                showToast('未填写内容');
                return;
            }
            e.setAttribute("disabled", true);
            request("/note/add", "post", {
                guid: guid(),
                htmlcontent: _htmlcontent,
                content: _content
            }).then(res => {
                if (res && res.code == 1) {
                    document.getElementById("input").innerHTML = "";

                    // TODO
                    location.reload();
                } else {
                    that.showToast((res ? res.message : "") || '操作失败');
                }
            }).catch(res => {

            }).finally(fin => {
                e.removeAttribute("disabled");
            })
        }

    }

    function guid() {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }
        return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
    }

    function fnGetNotes() {
        let that = this;
        request("/note/get", "get", {}).then(res => {
            setTimeout(function () {
                document.getElementsByClassName("loading")[0].style.setProperty('display', 'none', 'important');
            }, 800);

            if (res && res.code == 1) {
                let nodenotelist = document.getElementById("notelist");
                for (var i in res.data.arrNote) {
                    let note = res.data.arrNote[i];

                    let div = document.createElement("div");
                    div.setAttribute("class", "note border rounded-3");
                    div.setAttribute("data-originContent", note["content"]);
                    div.setAttribute("data-originHtmlContent", note["htmlcontent"]);
                    div.setAttribute("data-fid", note["fid"]);
                    div.setAttribute("data-uTime", note["uTimeShow"]);

                    let str = "<div class='contentP'><div class='oprator'><div class='noteTime text-secondary'>" + note["iTimeShow"] +
                        "</div><div style='flex:1'></div><button class='toedit btn btn-light btnSelf' onclick='fntoEditClick(this)'><img src='/Images/edit.png' style='height: 25px' /></button></div>";
                    //"</div></div>";

                    //str += "<div class='tags'><div class='tag'>tag1</div><div class='tag'>tag2</div></div>";

                    //let m = marked.parse(note["content"]);
                    //str += ("<div class='content'>" + m.substring(0, m.length - 1) + "</div></div>");

                    str += ("<div class='content'>" + (note["htmlcontent"] || note["content"]) + "</div>");

                    //let toedit = "<div><div class='input' contenteditable='true' spellcheck='false'></div><div class='tool'><img class='selectImg' src='/Images/bxs-image.png' /><div style='flex:1'></div><button type='button' class='btn btn-dark btnSelf' onclick='onSaveClick()'><img src='/Images/shandian-48.png' style='height: 25px' /></button></div></div>";
                    //div.innerHTML = str + toedit;
                    div.innerHTML = str;

                    nodenotelist.appendChild(div);
                }
            } else {
                that.showToast(res.message || '操作失败');
            }
        }).catch(res => {

        });
    }

    fnGetNotes();

    function fntoEditClick(e) {
        let nodeContentP = e.parentNode.parentNode;

        let nodeNote = nodeContentP.parentNode;
        let originContent = nodeNote.getAttribute("data-originContent");
        let originHtmlContent = nodeNote.getAttribute("data-originHtmlContent");
        let fid = nodeNote.getAttribute("data-fid");
        let uTime = nodeNote.getAttribute("data-uTime");

        let nodeReEdit = nodeNote.getElementsByClassName("reEdit")[0];
        if (nodeReEdit) {
            nodeReEdit.style.display = "block";
            nodeReEdit.getElementsByClassName("input")[0].innerHTML = (originHtmlContent || originContent);
        } else {
            let div = document.createElement("div");
            div.setAttribute("class", "reEdit");

            div.innerHTML = "<div class='input' contenteditable='true' spellcheck='false'>" + (originHtmlContent || originContent) + "</div><div class='tool'><img class='selectImg' src='/Images/bxs-image.png' /><div style='flex:1'></div><button class='btn btn-light btnSelf' style='margin-right:5px;' onclick='fnCancelClick(this)'><img src='/Images/cancel.png' style='height: 25px' /></botton><button type='button' class='btn btn-dark btnSelf' data-fid='" + fid + "' data-uTime='" + uTime + "'' onclick='onSaveClick(this)'><img src='/Images/shandian-48.png' style='height: 25px' /></button></div>";

            //let m = marked.parse(originContent);
            //div.innerHTML = "<div class='input' contenteditable='true' spellcheck='false'>" + m.substring(0, m.length - 1) + "</div><div class='tool'><button class='btn btn-light btnSelf'><img class='selectImg' src='/Images/bxs-image.png' style='height: 25px' /></button><div style='flex:1'></div><button class='btn btn-light btnSelf' style='margin-right:5px;' onclick='fnCancelClick(this)'><img src='/Images/cancel.png' style='height: 25px' /></botton><button type='button' class='btn btn-dark btnSelf' data-fid='" + fid + "' data-uTime='" + uTime + "'' onclick='onSaveClick(this)'><img src='/Images/shandian-48.png' style='height: 25px' /></button></div>";

            nodeNote.appendChild(div);

            bindPaste(div.getElementsByClassName("input")[0]);
        }

        nodeContentP.style.display = "none";
    }

    function fnCancelClick(e) {
        e.parentNode.parentNode.style.display = "none";
        e.parentNode.parentNode.parentNode.getElementsByClassName("contentP")[0].style.display = "block";
    }

    function showModel(msg) {
        let nodeModel = document.getElementById("exampleModalSm");
        var modalBodyInput = nodeModel.querySelector('.modal-body')
        modalBodyInput.innerText = msg || '操作失败';

        var _myModal = new bootstrap.Modal(nodeModel);
        _myModal.show();
    }

    function showToast(msg, isError = false) {
        let ndoeToastsP = document.getElementById("toastsP");
        let node = document.createElement("div");
        node.setAttribute("class", "toast");
        node.setAttribute("role", "alert");
        node.setAttribute("aria-live", "assertive");
        node.setAttribute("aria-atomic", true);
        if (ndoeToastsP.children.length > 0) {
            //node.style.setProperty("top", ndoeToastsP.children[ndoeToastsP.children.length - 1].offsetTop + 85 + 5 + "px");
            node.style.setProperty("top", ndoeToastsP.children[ndoeToastsP.children.length - 1].offsetTop + 47 + 5 + "px");
        } else {
            node.style.setProperty("top", "0px");
        }
        node.style.setProperty("position", "absolute");
        node.style.setProperty("z-index", "999");
        node.style.setProperty("background-color", "white");
        node.style.setProperty("display", "flex");
        node.style.setProperty("align-items", "center");
        if (isError) {
            node.style.setProperty("color", "red");
        }
        //node.innerHTML = "<div class='toast-header'><strong class='me-auto'></strong><button type='button' class='btn-close' data-bs-dismiss='toast' aria-label='Close'></button> </div><div class='toast-body'>Hello, world! This is a toast message. </div>";
        node.innerHTML = "<div class='toast-body'>Hello, world! This is a toast message.</div><button type='button' class='btn-close ms-auto me-2' data-bs-dismiss='toast' aria-label='Close'></button>";
        node.getElementsByClassName("toast-body")[0].innerText = msg;
        ndoeToastsP.appendChild(node);
        node.addEventListener('hidden.bs.toast', function () {
            node.parentNode.removeChild(node);
        })

        //new bootstrap.Toast(node, { autohide: false, delay: 2000 }).show();
        new bootstrap.Toast(node, { delay: 2500 }).show();
    }

</script>

<style>
    /* p {
            margin-top: 0;
            margin-bottom: 0rem;
            margin-block-start: 0em;
            margin-block-end: 0em;
        }
    */

    .editor {
        padding: 10px 10px 10px 0;
    }

    .input {
        min-height: 45px;
        max-height: 250px;
        overflow-y: auto;
        padding-left: 10px;
        outline: none;
        /*font-family: "微软雅黑";*/
        -webkit-user-modify: read-write;
        line-height: 22px;
    }

        .input::-webkit-scrollbar {
            display: none;
        }

        .input:empty:before {
            content: attr(placeholder);
            color: #848484;
        }

        .input:focus:before {
            color: #bdbdbd;
        }

        .input:focus:after {
            content: none;
        }


    .moreTool {
        align-items: center;
        display: flex;
        margin-top: 10px;
        padding-right: 10px;
    }

    .tool {
        /*height: 38px;*/
        align-items: center;
        display: flex;
        position: relative;
        padding-top: 3px;
        /*padding-left: 10px;*/
        /*padding-right: 10px;*/
    }

    .selectImg {
        /*height: 36px;*/
        height: 25px;
        margin-left: 10px;
        /*padding-top: 3px*/
    }

    .btnSelf {
        padding: 2px 10px;
    }

    #notelist {
        margin-top: 10px;
        /*height: 800px;*/
        overflow-y: auto;
        flex-direction: column;
        display: flex;
    }

        #notelist::-webkit-scrollbar {
            display: none;
        }

    .contentP {
        padding-left: 10px;
    }

    .note {
        padding: 10px 10px 10px 0;
        margin-bottom: 10px;
        white-space: pre-line;
    }

    .oprator {
        display: flex;
        /*justify-content:center;*/
        align-items: center;
    }

    .noteTime {
        line-height: 25px;
        height: 25px;
    }

    .tags {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    .tag {
        padding: 2px 5px;
        background-color: #f1f3f4;
        border-radius: 5px;
        margin-right: 5px;
        color: #85888c;
    }

    .content {
        overflow-wrap: break-word;
        line-height: 22px;
    }
</style>
